@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.entryCard{
    width: 100%;
    max-width: 450px;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 40px;
    background: white;
    text-align: center;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 5px 10px 20px 5px rgba(0, 0, 0, 0.06);
    background-color: white;
}
.entryCard>h2,h1{
    font-weight: 500;
    margin-bottom: 50px;
    color: white;
}
.entryCard>h3{
    font-weight: 500;
    margin-bottom: 30px;
    color: black;
}

.entryCard>span{
    display: block;
    margin-top: 40px;
    font-size: 14px;
}
.entryCard>span>a{
    margin-left: 4px;
    color: #1888ff;
    
}
p{
    color:black;
    margin:30px 0 30px;
    font-family: 'Roboto', sans-serif;
}
.flex{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80vh;
}
.flex3{
    display: flex;
    justify-content: flex-end;
}