.calender-container{
    background-color: beige;
    width: 100px;
    height: 100px;
    position: absolute;
}

.wow{

    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    
}